// Include media
@import '~include-media/dist/_include-media.scss';
$breakpoints: (s: 320px, sm: 500px, m: 768px, l: 1024px);

// Colors
$white: #FFFFFF;
$eerie-black: #292929;
$raspberry-pink: #e56399;